.tokyo{
    padding-top:50px;
    text-align: center;
    height:735px;
    color: rgb(244, 106, 119);;
    background: #ffebe9;
    border-top: solid 10px rgb(244, 106, 119);;
    flex-direction: column;
}

.tokyo h3{
    font-size: 40px;
}

.tokyo p{
    font-size: 30px;
    color:black;
}

.tokyo span{
    font-size: 30px;
}

.tokyo a{
    font-size: 30px;
    text-decoration: none;
}

.tokyo h1{
    font-size: 50px;
    color:black;
}